<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.just.resource_management_system.mapper.LanguageMapper">

    <select id="selectAllLanguages" resultType="edu.just.resource_management_system.pojo.Language">
        select * from language;
    </select>
    <select id="selectIdsByLanguages" resultType="java.lang.Long">
        select tl.id FROM tag_language tl,language l
                     where tl.language_name=l.language_name and l.language_name=#{language}
    </select>
    <select id="selectIdByTagAndLanguage" resultType="java.lang.Long">
        SELECT id FROM tag_language
        <where>
            <if test="tagName != '' and tagName != null">
                tag_name = #{tagName}
            </if>
            <if test="languageName != '' and tagName != null">
                and language_name = #{languageName}
            </if>
        </where>
    </select>
</mapper>

