<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.just.resource_management_system.mapper.ResourceMapper">
    <insert id="insertTagNameAndLanguageName">
        INSERT INTO tag_language(tag_name,language_name)VALUES (#{tagName},#{languageName});
    </insert>
    <insert id="insertResource">
        INSERT INTO resource(tag_language_id,resource_title,resource_url,resource_description)
        VALUES (#{tagLanguageId},#{resourceTitle},#{resourceUrl},#{resourceDescription});
    </insert>
    <update id="UpdateResourceByTagLanguageId">
        UPDATE resource SET tag_language_id =#{tagLanguageId}  WHERE id = #{id}
    </update>
    <update id="updateResourceStatus">
        UPDATE resources_temp SET status =#{status},review_time = NOW(), review_by =#{reviewBy} WHERE id = #{id};
    </update>
    <!-- 查询前十条资源 -->
    <select id="selectTop10Resources" resultType="edu.just.resource_management_system.pojo.Resource">
        SELECT r.id, r.resource_title, r.resource_url, r.created_at
        FROM resource AS r
        <where>
            <if test="ids != null and ids.size > 0">
                r.tag_language_id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        ORDER BY r.created_at DESC
        LIMIT 10
    </select>

    <select id="selectResourcesByIdsAndKeyword" resultType="edu.just.resource_management_system.pojo.Resource">
        SELECT r.id,r.resource_title,r.resource_url FROM resource as r
        <where>
            <if test="ids != null">
                r.tag_language_id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="keyword != '' and keyword != null">
                AND resource_title LIKE '%${keyword}%'
            </if>
        </where>
    </select>
    <select id="selectAllResources" resultType="edu.just.resource_management_system.pojo.Resource">
        SELECT id,resource_title,tag_name,language_name,resource_description,resource_url
        FROM resources_temp
        WHERE  status = '待审核'
        ORDER BY upload_time;
    </select>
    <select id="findIdByTagNameAndLanguageName" resultType="java.lang.Long">
        SELECT id FROM tag_language WHERE tag_name = #{tagName}
                                      AND language_name = #{languageName};
    </select>
    <!-- 插入资源 -->
    <insert id="insertResource2" parameterType="edu.just.resource_management_system.pojo.Resource">
        INSERT INTO resources_temp ( resource_title,tag_name,language_name,resource_url,resource_description)
        VALUES (#{resourceTitle},#{tagName},#{languageName},#{resourceUrl}, #{resourceDescription});
    </insert>

    <select id="findTagLanguageId" resultType="int">
        SELECT COALESCE(id, 0)
        FROM tag_language
        WHERE tag_name = #{tagName} AND language_name = #{languageName}
            LIMIT 1
    </select>
    <select id="selectResourceById" resultType="edu.just.resource_management_system.pojo.Resource">
        SELECT resource_title,tag_name,language_name,resource_description,resource_url
        from resources_temp
        WHERE id = #{id};
    </select>

</mapper>

