<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.just.resource_management_system.mapper.TagMapper">

    <select id="selectAllTags" resultType="edu.just.resource_management_system.pojo.Tag">
        SELECT * FROM tag;
    </select>
    <select id="selectIdsByTags" resultType="java.lang.Long">
        SELECT id FROM tag_language as tl,tag as t WHERE tl.tag_name=t.tag_name and t.tag_name=#{tagName};
    </select>
    <select id="selectIdByTagAndLanguage" resultType="java.lang.Long">
        SELECT id FROM tag_language
        <where>
            <if test="tagName != '' and tagName != null">
                tag_name = #{tagName}
            </if>
            <if test="languageName != '' and tagName != null">
                and language_name = #{languageName}
            </if>
        </where>
    </select>
</mapper>

